.wrap {position: relative;
  		width: 960px;
  		margin: 0px auto;
  	}
.title-recherche-avance{
	font-size: 1.8rem;
	font-family: "Titillium Web", helvetica, Verdana, Arial, sans-serif;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.4);
	margin: 0px;
}
.title-bis{
	font-size: 1.3em;
	font-weight: 700;
	font-family: 'Oxygen', helvetica, Verdana, sans-serif;
	color: rgba(0, 0, 0, 0.4);
	margin: 0px;
}

.recherche-avance {
  position: relative;
  color: white;
  color: #616972;
  padding-right:1em; 
  padding-left: 1em;
  padding-top: 1.3em;
  padding-bottom: 1.3em;
  background-color: #e9e5e7;
  box-shadow: 0px 15px 15px -10px rgba(0, 0, 0, 0.35) inset;
  margin-bottom: 20px;
}


.liste-left{
	width: 490px;

}
.liste-lieu{
	width: 150px;
	float: left;
	margin-right: 20px;
}
.liste-producteur{
	width: 150px;
}
.liste-right{
	display: table-cell;
	width: 490px;
}

.liste-fruit{
	width: 150px;
	position: relative;
	float: left;
}
.liste-legume{
	margin-left: 20px;
	width: 150px;
}


/*--------------------------------------------------*\

						$RESPONSIVE

\*--------------------------------------------------*/
@media all and (max-width: 320px){
	.recherche-avance{padding-left: 0;
		margin-left:0;}
}
